body {
  background-color: 'rgb(49, 51, 56)';
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  max-width: 300px; /* Adjust width as needed */
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.day.active {
  background-color: #f0f0f0;
}

.day.active.selected {
  background-color: #007bff;
  color: #fff;
}

.day:hover {
  background-color: #e0e0e0;
}
