.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  max-width: 300px; /* Adjust width as needed */
}

.day {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px; 
  font-weight: bold;
  border-radius: 3px;
}

.day.active {
  cursor: pointer;
  background-color: rgb(30, 31, 34);
  color: rgb(149, 155, 163);
}

.day.active.selected {
  background-color: rgb(90, 101, 234);
  color: #fff;
}

.day.active:hover {
  background-color: rgb(149, 155, 163);
  color: rgb(30, 31, 34);
}

#month-nav {
  display: in;
}