#day-and-month, #day-of-week {
  margin: 0px;
}

#date {
  display: grid;
  justify-items: center;
}

#timetable-column {
  display: grid;
}

#timetable {
  display: flex;
}

#grid-square:hover {
  cursor: pointer;
}
